.feed{
    width: 50%;
    background-color: rgb(255, 250, 250);
    height: max-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
  
    
}
@media (max-width:945px){
    .feed{
        width: 70%;
        height: max-content;
    }   
}


.feedActivities{
    width: 98%;
    height: max-content;
    background-color: white;
    margin: 12px auto;
    border-radius: 10px;
    box-shadow: -7px -11px 15px -3px rgba(0,0,0,0.1);
}


.postCreate {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.postCreate img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.postCreate input{
    padding-left: 20px;
    font-size: 16px;
    height: 50px;
    border: none;
    width: 90%;
}
.postCreate input:focus{
    outline: none;
}


.postFeeling{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0px 20px;
}

.postFeeling button{
    margin-left: 10px;
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
}


.feelingItems{

    display: flex;
    align-items: center;
}

.post{
    background-color: white;
    height: 420px;
    margin: 12px 5px;
   border-radius: 5px;
    padding: 12px 0;
    box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.75);
}













.postTop {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTop img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.poster{
    width: 95%;
    height: 70%;
    margin-left: 10px;
    object-fit: cover;
}
.post p{
    margin: 10px 14px;
}
.postOption{
  
    margin-right: 10px;
}
.postInfo{
    display: flex;
    gap: 15px;
    align-items: center;

}

.postOwner{
    font-weight: bold;
}
.postTime{
    color: grey;
}



.postBottom{
    margin: 5px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like{
    width: 20px;
    height: 20px;
}
.heart{
    width: 23px;
    height: 23px;
    color: lightcoral
}
.postComment{
    margin-right: 5px;
}

.postReact{
    align-items: center;
    display: flex;
    gap: 3px;
}
@media (max-width:700px){
    .feed{
        width: 100%;
    }  
}