.feed{
    width: 50%;
    background-color: rgb(230, 230, 230);
    height: max-content;
    overflow-y: scroll;
    
}
@media (max-width:945px){
    .feed{
        width: 70%;
        height: max-content;
    }   
}


.feedActivities{
    width: 98%;
    height: max-content;
    background-color: white;
    margin: 12px auto;
    border-radius: 10px;
    box-shadow: -7px -11px 15px -3px rgba(0,0,0,0.1);
}


.postCreate {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}

.postCreate img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.postCreate input{
    padding-left: 20px;
    font-size: 16px;
    height: 50px;
    border: none;
    width: 90%;
}
.postCreate input:focus{
    outline: none;
}


.postFeeling{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0px 20px;
}

.postFeeling button{
    margin-left: 10px;
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
}


.feelingItems{

    display: flex;
    align-items: center;
}

.post{
    height: 400px;
}











::-webkit-scrollbar {
    width: 15px;
    /* margin-left: 100px; */

}

::-webkit-scrollbar-track {

    background-color: rgb(228, 226, 226);
    padding-left: 200px;
}

::-webkit-scrollbar-thumb {

    background-color: rgb(151, 151, 151);
}

.postTop {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTop img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.poster{
    width: 90%;
    margin-left: 10px;
    object-fit: cover;
}
.post p{
    margin: 10px 14px;
}
.postOption{
  
    margin-right: 10px;
}
.postInfo{
    display: flex;
    gap: 15px;
    align-items: center;

}

.postOwner{
    font-weight: bold;
}
.postTime{
    color: grey;
}

@media (max-width:700px){
    .feed{
        width: 100%;
    }  
}